/* This is for Sliding the text in user Dashboard Header */
.sliding-text {
  display: inline-block;
  white-space: nowrap;
  animation: slideContinuous 15s linear infinite;
}
@keyframes slideContinuous {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slide {
  overflow: hidden;
  height: 2em; /* Adjusted for a better height for readability */
  position: relative;
}
.sliding-text-container {
  position: absolute;
  white-space: nowrap;
  display: inline-block;
}

#notificationModal .arrow {
  width: 16px;
  height: 16px;
  background-color: white;
  position: absolute;
  top: -8px; /* Adjust to match your modal placement */
  right: 16px; /* Align arrow to the button */
  transform: rotate(45deg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for the arrow */
}

